<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net472" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.10.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.10.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.10.2" targetFramework="net472" />
  <package id="Twilio" version="5.58.0" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.Base.x64" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.Base.x86" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.CV.x64" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.CV.x86" version="12.0.48" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.FFMPEGDLL.x86" version="12.1.26" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.FFMPEGEXE.x64" version="12.1.26" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.FFMPEGEXE.x86" version="12.1.26" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.LAV.x64" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.LAV.x86" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.MediaPlayer.x64" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.MediaPlayer.x86" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.MP4.x64" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.MP4.x86" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.VideoCapture.x64" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.VideoCapture.x86" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.VideoEdit.x64" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.VideoEdit.x86" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.VLC.x64" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.VLC.x86" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.WebM.x86" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.XIPH.x64" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.Redist.XIPH.x86" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.TRIAL" version="14.0.38" targetFramework="net472" />
  <package id="VisioForge.DotNet.VideoCapture.TRIAL" version="14.0.38" targetFramework="net472" />
</packages>